php_value upload_max_filesize 300M
php_value post_max_size 300M
php_value max_execution_time 300
php_value max_input_time 300

<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{ENV:REDIRECT_STATUS} ^$
    RewriteRule ^(.*)$ files/$1
</IfModule>

<FilesMatch "index.php">
	order deny,allow
	deny from all
	allow from 10.108.49.51
</FilesMatch>

AddCharset UTF-8 .txt
